<div>
  <form>
    <br />
    <button href="#" class="previous" routerLink="/user">BACK</button>
    <h2>Survey</h2>

    <label>How interactive is the website?</label>
    <input
      type="text"
      name="firstname"
      class="text-field"
      placeholder="Enter text"
      #surveyLine1
    />
    <br /><br />
    <label>How many points out of 5?</label>
    <input
      type="text"
      name="lastname"
      class="text-field"
      placeholder="Enter text"
      #surveyLine2
    />
    <br /><br />
    <label>When were you born?</label>
    <input
      type="date"
      name="email"
      class="text-field"
      placeholder="Email"
      #surveyLine3
    />
    <br /><br />
    <label>Comments</label>
    <input
      type="number"
      name="phone"
      class="text-field"
      placeholder="Enter text"
      #surveyLine4
    />

    <a href=""><input type="button" class="button" value="Submit" /></a>
  </form>
</div>
