<div>
  <form>
    <h2>User Login</h2>

    <input
      type="text"
      name="username"
      class="text-field"
      placeholder="Username"
    />
    <input
      type="password"
      name="password"
      class="text-field"
      placeholder="Password"
    />
    
    <a><input type="button" class="button" value="Log In" /></a
    ><br /><br />
    <a [routerLink]="['/user', 'forgotPassword']" id="subLink"
      >Forgot Password?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
    ><a [routerLink]="['/user', 'register']" id="subLink">Register</a
    ><a [routerLink]="['/user', 'survey']" id="subLink"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;Survey</a
    >
  </form>
</div>
<router-outlet></router-outlet>
