<div>
  <form>
  <br>
  <button href="#" class="previous" routerLink="/admin">BACK</button>
    <h2>Admin 2</h2>

    <label>Admin ID</label>
    <input
      type="text"
      name="firstname"
      class="text-field"
      value="{{ adminDet[1].id }}"
    />
    <br /><br />
    <label>Admin Designation</label>
    <input
      type="text"
      name="lastname"
      class="text-field"
      value="{{ adminDet[1].designation }}"
    />
    <br /><br />

    <label>Admin Description</label>
    <input
      type="text"
      name="phone"
      class="text-field"
      value="{{ adminDet[1].descripcion }}"
    />
  </form>
</div>
