<div>
  <form>
    <br />
    <button href="#" class="previous" routerLink="/admin">BACK</button>
    <h2>Admin 1</h2>

    <label>Admin ID</label>
    <input
      type="text"
      name="firstname"
      class="text-field"
      value="{{ adminDet[0].id }}"
    />
    <br /><br />
    <label>Admin Designation</label>
    <input
      type="text"
      name="lastname"
      class="text-field"
      value="{{ adminDet[0].designation }}"
    />
    <br /><br />

    <label>Admin Description</label>
    <input
      type="text"
      name="phone"
      class="text-field"
      value="{{ adminDet[0].descripcion }}"
    />
  </form>
</div>
