<div class="header-input">
  <label for="ref">Enter Company Name</label>
  <br />
  <input
    type="text"
    #ref
    (keyup.enter)="onKey(ref.value)"
    placeholder="Type and press Enter"
  />
</div>
<app-heading-component [child-alias]="header"></app-heading-component>
<h1 class="heading">LOGIN</h1>

<div class="login_identity">
  <a class="login" routerLink="/admin" appTextHighlight>Admin Login</a
  >&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/user" class="login" appTextHighlight
    >User Login</a
  >&nbsp;&nbsp;&nbsp;&nbsp;<a
    class="login"
    appTextHighlight
    routerLink="/feedback"
    >Feedbacks</a
  >
</div>
<router-outlet></router-outlet>
