<div>
  <form [formGroup]="form" (ngSubmit)="add(form.value)">
    <br>
  <button href="#" class="previous" routerLink="/user">BACK</button>
    <h2>Register New User</h2>

    <input
      type="text"
      name="firstname"
      class="text-field"
      placeholder="First Name"
      formControlName="firstName"
    />
    <input
      type="text"
      name="lastname"
      class="text-field"
      placeholder="Last Name"
      formControlName="lastName"
    />
    <input type="email" name="email" class="text-field" placeholder="Email" formControlName="email"/>
    <input
      type="number"
      name="phone"
      class="text-field"
      placeholder="Mobile Number"
      formControlName="phone"
    />
    <input type="date" name="dob" class="text-field"  formControlName="dob"/>
    <input
      type="password"
      name="password"
      class="text-field"
      placeholder="Password"
      formControlName="password"
    />
    <input
      type="password"
      name="confirmpassword"
      class="text-field"
      placeholder="Confirm Password"
      formControlName="confirmpassword"
    />

    <button class="button" [disabled]="!form.valid">Register</button
    ><br /><br /><br />

    <label>Generated Username:</label>
    <input
      type="text"
      name="username"
      class="text-field"
      placeholder="Username"
      value=""
    />
  </form>
</div>
